body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 15vh 65vh 20vh;
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
}
nav{
    grid-area: navbar;
    background-color: #cc1f8a;
    /* height: 40px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: limegreen;
    text-decoration: none;
    font-size: 16pt;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(12, 118, 204);
}

#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;;
}

.trace{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 40px;
}
/* TABLET */
@media (max-width:768px){
    #menuHamburguer{
        display: flex;
    }
    nav a{
        display: none;
    }
    body{
        grid-template-areas: 'navbar navbar navbar aside'
                             'section section section aside'
                             'footer footer footer aside';
        grid-template-rows: 15vh 60vh 30vh;
    }
}
/* CELULAR */
@media (max-width:425px){
    nav{
        justify-content: flex-start;
    }
    #menuHamburguer{
        margin-left: 5px;
    }

    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                             'section section section section'
                             'aside aside aside aside'
                             'footer footer footer footer';
        grid-template-rows: 15vh 60vh 60vh 30vh;
    }

 
}

section{
    grid-area: section;
    background-color: rgb(0, 255, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section img{
    border-radius: 100%;
    z-index: 1000;
}
section h1{
    color: white;
    font-family: 'Dokdo', cursive;
    font-size: 26pt;
}
aside{
    grid-area: aside;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color: rgb(166, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div{
    display: flex;
}
footer a {
    text-decoration: none;
    font-size: 16pt;
}
.nicolas{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 5px; */
}

